<link rel="stylesheet" href="https://drive.google.com/open?id=1qAtZRT2B8hcjy8LD6DdksBfkDEkuG8qd" type="text/css" />

        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="all-reimb">View All</a>
            </li>
            <li class="nav-item active">
                        <a class="nav-link" href="denied-reimb">Denied</a>
                      </li>
                      <li class="nav-item active">
                                <a class="nav-link" href="approved-reimb">Approved</a>
                              </li>
                              <li class="nav-item active">
                                        <a class="nav-link" href="pending-reimb">Pending</a>
                                      </li>
                                      <div class="collapse navbar-collapse" id="navbarNav">
                                                <ul class="navbar-nav">
                                      <li class="nav-item active">
                                                <a class="nav-link" href="man-Reimb">View Your Reimbursements</a>
                                              </li>
                                      <li class="nav-item active">
                                                <a class="nav-link" href="add-Reimb">Create Reimbursement</a>
                                              </li>
                                              </ul>
                                              <li class="nav-item active">
                                              <button (click)="logout()" name="button" class="myBtn btn btn-info">Logout</button>
                                              </li>
                                        </div>
                                
          </ul>
        </div>
      </nav>
               
	